<h3 class="match-heading padding-slider">2nd Round</h3>

    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">VENKAT</div>
            <div class="col-sm-3">SAJITH</div>
            <div class="col-sm-2">17-08-2016 </div>
            <div class="col-sm-2">1.00 PM </div>
            <div class="col-sm-2">Match-13</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">PRAKASH</div>
            <div class="col-sm-3">VIJAY</div>
            <div class="col-sm-2">17-08-2016 </div>
            <div class="col-sm-2">1.20 PM </div>
            <div class="col-sm-2">Match-14</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">AKSHAY</div>
            <div class="col-sm-3">KEDAR</div>
            <div class="col-sm-2">17-08-2016 </div>
            <div class="col-sm-2">1.40 PM </div>
            <div class="col-sm-2">Match-15</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">UJWALA</div>
            <div class="col-sm-3">SUCHITRA</div>
            <div class="col-sm-2">17-08-2016 </div>
            <div class="col-sm-2">1.50 PM </div>
            <div class="col-sm-2">Match-16</div>
        </div>
    </div>
    <div class="journal-entry-devider"></div>
    <br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">SHIMITH</div>
            <div class="col-sm-3">MATCH 10TH WINNER</div>
            <div class="col-sm-2">18-08-2016 </div>
            <div class="col-sm-2">1.00 PM </div>
            <div class="col-sm-2">Match-17</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">PRAVEEN</div>
            <div class="col-sm-3">MATCH 11TH WINNER</div>
            <div class="col-sm-2">18-08-2016 </div>
            <div class="col-sm-2">1.20 PM </div>
            <div class="col-sm-2">Match-18</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">RAVI SHANKAR</div>
            <div class="col-sm-3">MATCH 12TH WINNER</div>
            <div class="col-sm-2">18-08-2016 </div>
            <div class="col-sm-2">1.40 PM </div>
            <div class="col-sm-2">Match-19</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">SHARMILA</div>
            <div class="col-sm-3">APEKSHA</div>
            <div class="col-sm-2">18-08-2016 </div>
            <div class="col-sm-2">1.50 PM </div>
            <div class="col-sm-2">Match-20</div>
        </div>
    </div>
    <div class="journal-entry-devider"></div>
    <br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">PRAKRUTHI</div>
            <div class="col-sm-3">DISHA</div>
            <div class="col-sm-2">19-08-2016 </div>
            <div class="col-sm-2">1.00 PM </div>
            <div class="col-sm-2">Match-21</div>
        </div>
    </div><br>
    <!-- <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">Shashi</div>
            <div class="col-sm-3">PRAKASH</div>
            <div class="col-sm-2">23-03-2015 </div>
            <div class="col-sm-2">4.45 PM </div>
            <div class="col-sm-2">Match-27</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">Kiran</div>
            <div class="col-sm-3">Praveen</div>
            <div class="col-sm-2">23-03-2015 </div>
            <div class="col-sm-2">5.10 PM </div>
            <div class="col-sm-2">Match-28</div>
        </div>
    </div> -->
