<h3 class="match-heading padding-slider">2nd Round</h3>

    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">KAVYA</div>
            <div class="col-sm-3">UJWALA</div>
            <div class="col-sm-2">19-03-2015 </div>
            <div class="col-sm-2">4.30 PM </div>
            <div class="col-sm-2">Match-20</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">KEDAR</div>
            <div class="col-sm-3">SAHELL</div>
            <div class="col-sm-2">19-03-2015 </div>
            <div class="col-sm-2">4.45 PM </div>
            <div class="col-sm-2">Match-21</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">KISHAN</div>
            <div class="col-sm-3">RAGHUVEER</div>
            <div class="col-sm-2">19-03-2015 </div>
            <div class="col-sm-2">5.10 PM </div>
            <div class="col-sm-2">Match-22</div>
        </div>
    </div>
    <div class="journal-entry-devider"></div>
    <br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">SUNITHA</div>
            <div class="col-sm-3">SHARMILA</div>
            <div class="col-sm-2">20-03-2015 </div>
            <div class="col-sm-2">4.30 PM </div>
            <div class="col-sm-2">Match-23</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">VENKAT</div>
            <div class="col-sm-3">PREM</div>
            <div class="col-sm-2">20-03-2015 </div>
            <div class="col-sm-2">4.45 PM </div>
            <div class="col-sm-2">Match-24</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">AKSHAY</div>
            <div class="col-sm-3">AASHISH</div>
            <div class="col-sm-2">20-03-2015 </div>
            <div class="col-sm-2">5.10 PM </div>
            <div class="col-sm-2">Match-25</div>
        </div>
    </div>
    <div class="journal-entry-devider"></div>
    <br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">SASI</div>
            <div class="col-sm-3">MATHEW</div>
            <div class="col-sm-2">23-03-2015 </div>
            <div class="col-sm-2">4.30 PM </div>
            <div class="col-sm-2">Match-26</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">MATCH-17 Winner</div>
            <div class="col-sm-3">PRAKASH</div>
            <div class="col-sm-2">23-03-2015 </div>
            <div class="col-sm-2">4.45 PM </div>
            <div class="col-sm-2">Match-27</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">MATCH-13 Winner</div>
            <div class="col-sm-3">MATCH-14 Winner</div>
            <div class="col-sm-2">23-03-2015 </div>
            <div class="col-sm-2">5.10 PM </div>
            <div class="col-sm-2">Match-28</div>
        </div>
    </div>