<div class="section-modal">
<div class="modal-content">
<div class="container">
<!-- <img src="../assets/qwinix tt championship.pdf" class="img-responsive" alt=""> -->
<embed src="../assets/Table_Tennis_Tournament 2016_17.pdf" width=1200px height=2100px>
</div>
</div>
</div>
