<div class="section-modal contact">
    <div class="modal-content">
        <div class="container">
        <h2 class="match-heading">Organizer</h2>
        <div class="col-md-3 col-sm-6 back-ground-color">
        	<div class="team-member">
        	<img src="../assets/team/qwinix_logo_small.png" class="img-responsive" alt="">
        	</div>
        </div>
        <div class="qwinix-adress">
        			<p>
        				Qwinix Technologies Pvt. Ltd.<br>
        				Special Plot No. 5, Horizon,<br>
        				HIEMA Convention Center Road,<br>
        				Hebbal Industrial Estate,<br>
        				Mysore – 570016<br>
        				Tel: +91 821 241 3535<br>
        				Email: info-india@qwinixtech.com<br>
        			</p>
        		</div>
        </div>
    </div>
</div>