<!-- Start Team Member Section -->
        <div class="section-modal">
            <div class="modal-content">
                <!-- <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div> -->

                <div class="container">
                    <div class="row">
                        <div class="section-title text-center">
                            <h2 class="match-heading">Game Participants</h2>
                        </div>
                    </div>
                    <div class="row">

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Abhi.JPG" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Abhi</h4>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Aashish.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Aashish</h4>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Akshay.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Akshay</h4>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Anjan.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Anjan</h4>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Anup.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Anup</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Anupama.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Anupama</h4>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Bhuvana.JPG" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Bhuvana</h4>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Chitra.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Chitra</h4>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Harshith.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Harshith</h4>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Hema.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Hema</h4>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Joshi.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Joshi</h4>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Kavya.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Kavya</h4>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Kishan.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Kishan</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Kedar.JPG" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Kedar</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Kiran.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Kiran</h4>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Krishna.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Krishna</h4>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Mathew.JPG" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Mathew</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Prakash.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Prakash</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Prakruthi.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Prakruthi</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Praveen.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Praveen</h4>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Prem.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Prem</h4>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Raghu.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Raghu</h4>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Ravi.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Ravi</h4>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Saheel.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Saheel</h4>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Sai.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Sai Kiran</h4>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Santosh.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Santosh</h4>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Sasi.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Sasi</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Sharmila.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Sharmila</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Shashi.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Shashi</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/shmith.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Shimith</h4>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Sunitha.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Sunitha</h4>
                                </div>
                            </div>
                        </div> -->

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Ujwala.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Ujwala</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Ventaka.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Venkat</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="team-member">
                                <img src="../assets/team2/Vikram.jpg" class="img-responsive" alt="">
                                <div class="team-details">
                                    <h4>Vikram</h4>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.row -->
                </div>

            </div>
        </div>
