<div class="section-modal">
<div class="modal-content">
<div class="container">
<h2 class="match-heading">Match Schedule</h2>
<h4 class="match-heading-link"><a href="<%= match_pdf_path %>">View As PDF</a></h4>
    <div class="row">
       <div class="col-sm-12">
            <h4 class="col-sm-3 color-of-heading">Player I</h4>
            <h4 class="col-sm-3 color-of-heading">Player II</h4>
            <h4 class="col-sm-2 color-of-heading">Date </h4>
            <h4 class="col-sm-2 color-of-heading">Time </h4>
            <h4 class="col-sm-2 color-of-heading">Match</h4>
        </div>
    </div><br>

    <br>

    <div class="row message-box">
        <div class="col-sm-12">
            <div class="col-sm-3">PRAKRUTHI</div>
            <div class="col-sm-3 winner-name message-box-high">UJWALA</div>
            <div class="col-sm-2">11-03-2015 </div>
            <div class="col-sm-2">4.30 PM </div>
            <div class="col-sm-2">Match-1</div>
        </div>
    </div><br>
    <div class="row message-box">
        <div class="col-sm-12">
            <div class="col-sm-3 winner-name message-box-high">KEDAR</div>
            <div class="col-sm-3">VIKRAM</div>
            <div class="col-sm-2">11-03-2015 </div>
            <div class="col-sm-2">4.45 PM </div>
            <div class="col-sm-2">Match-2</div>
        </div>
    </div><br>
    <div class="row message-box">
        <div class="col-sm-12">
            <div class="col-sm-3 winner-name message-box-high">SAHEEL</div>
            <div class="col-sm-3">MANJUNATH</div>
            <div class="col-sm-2">11-03-2015 </div>
            <div class="col-sm-2">5.10 PM </div>
            <div class="col-sm-2">Match-3</div>
        </div>
    </div>
    <div class="journal-entry-devider"></div>
    <br>
    <div class="row message-box">
        <div class="col-sm-12">
            <div class="col-sm-3">BHUVANA</div>
            <div class="col-sm-3 winner-name message-box-high">KAVYA</div>
            <div class="col-sm-2">12-03-2015 </div>
            <div class="col-sm-2">4.30 PM </div>
            <div class="col-sm-2">Match-4</div>
        </div>
    </div><br>
    <div class="row message-box">
        <div class="col-sm-12">
            <div class="col-sm-3 winner-name message-box-high">KISHAN</div>
            <div class="col-sm-3">RAVI</div>
            <div class="col-sm-2">12-03-2015 </div>
            <div class="col-sm-2">4.45 PM </div>
            <div class="col-sm-2">Match-5</div>
        </div>
    </div><br>
    <div class="row message-box">
        <div class="col-sm-12">
            <div class="col-sm-3 winner-name message-box-high">RAGHUVEER</div>
            <div class="col-sm-3">SOMA</div>
            <div class="col-sm-2">12-03-2015 </div>
            <div class="col-sm-2">5.10 PM </div>
            <div class="col-sm-2">Match-6</div>
        </div>
    </div>
    <div class="journal-entry-devider"></div>
    <br>
    <div class="row row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">ANUPAMA</div>
            <div class="col-sm-3">SHARMILA</div>
            <div class="col-sm-2">13-03-2015 </div>
            <div class="col-sm-2">4.30 PM </div>
            <div class="col-sm-2">Match-7</div>
        </div>
    </div><br>
    <div class="row row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">KRISHNA</div>
            <div class="col-sm-3">VENKAT</div>
            <div class="col-sm-2">13-03-2015 </div>
            <div class="col-sm-2">4.45 PM </div>
            <div class="col-sm-2">Match-8</div>
        </div>
    </div><br>
    <div class="row row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">PREM</div>
            <div class="col-sm-3">SANTHOSH</div>
            <div class="col-sm-2">13-03-2015 </div>
            <div class="col-sm-2">5.10 PM </div>
            <div class="col-sm-2">Match-9</div>
        </div>
    </div>
    <div class="journal-entry-devider"></div>
    <br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">SUNITHA</div>
            <div class="col-sm-3">HEMA</div>
            <div class="col-sm-2">16-03-2015 </div>
            <div class="col-sm-2">4.30 PM </div>
            <div class="col-sm-2">Match-10</div>
        </div>
    </div><br>
    <!-- <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3">SUNITHA</div>
            <div class="col-sm-3">HEMA</div>
            <div class="col-sm-2">16-03-2015 </div>
            <div class="col-sm-2">4.30 PM </div>
            <div class="col-sm-2">Match-11</div>
        </div>
    </div><br> -->
    <div class="row message-box">
        <div class="col-sm-12">
            <div class="col-sm-3 winner-name message-box-high">AKSHAY</div>
            <div class="col-sm-3">BHASKAR</div>
            <div class="col-sm-2">16-03-2015 </div>
            <div class="col-sm-2">4.45 PM </div>
            <div class="col-sm-2">Match-11</div>
        </div>
    </div><br>
    <div class="row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">SAMARTH</div>
            <div class="col-sm-3">AASHISH</div>
            <div class="col-sm-2">16-03-2015 </div>
            <div class="col-sm-2">5.10 PM </div>
            <div class="col-sm-2">Match-12</div>
        </div>
    </div>
    <div class="journal-entry-devider"></div>
    <br>
    <div class="row row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">KIRAN</div>
            <div class="col-sm-3">ABHI</div>
            <div class="col-sm-2">17-03-2015 </div>
            <div class="col-sm-2">4.30 PM </div>
            <div class="col-sm-2">Match-13</div>
        </div>
    </div><br>
    <div class="row row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">HARSHITH</div>
            <div class="col-sm-3">PRAVEEN</div>
            <div class="col-sm-2">17-03-2015 </div>
            <div class="col-sm-2">4.45 PM </div>
            <div class="col-sm-2">Match-14</div>
        </div>
    </div><br>
    <div class="row row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">SASI</div>
            <div class="col-sm-3">ANJAN</div>
            <div class="col-sm-2">17-03-2015 </div>
            <div class="col-sm-2">5.10 PM </div>
            <div class="col-sm-2">Match-15</div>
        </div>
    </div>
    <div class="journal-entry-devider"></div>
    <br>
    <div class="row row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">SAI</div>
            <div class="col-sm-3">MATHEW</div>
            <div class="col-sm-2">18-03-2015 </div>
            <div class="col-sm-2">4.30 PM </div>
            <div class="col-sm-2">Match-16</div>
        </div>
    </div><br>
    <div class="row row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">SHASI</div>
            <div class="col-sm-3">RAGHU</div>
            <div class="col-sm-2">18-03-2015 </div>
            <div class="col-sm-2">4.45 PM </div>
            <div class="col-sm-2">Match-17</div>
        </div>
    </div><br>
    <div class="row row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">PRAKASH</div>
            <div class="col-sm-3">ANUP</div>
            <div class="col-sm-2">18-03-2015 </div>
            <div class="col-sm-2">5.10 PM </div>
            <div class="col-sm-2">Match-18</div>
        </div>
    </div><br>
    <div class="row row message-box-high">
        <div class="col-sm-12">
            <div class="col-sm-3">JOSHI</div>
            <div class="col-sm-3">SHIMITH</div>
            <div class="col-sm-2">18-03-2015 </div>
            <div class="col-sm-2">5.30 PM </div>
            <div class="col-sm-2">Match-19</div>
        </div>
    </div>
</div>
</div>
</div>
        <!-- End Feature Section