 <!-- Start Testimonial Section -->
        <div class="section-modal">
            <div class="modal-content">
                <!-- <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div> -->
                
                <div class="container">
                    <div class="row">
                        <div class="section-title text-center">
                            <h3>Today's Big Matches</h3>
                            <p>Don't Miss It</p>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/Sunitha.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Sunitha</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/Hema.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Hema</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/Prem.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Prem</h2>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/Santosh.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Santosh</h2>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/Prakash.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Prakash</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/Anup.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Anup</h2>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div><!--/.row -->
                    
                </div>
                
            </div>
        </div>
        <!-- End Testimonial Section -->