 <!-- Start Testimonial Section -->
        <div class="section-modal">
            <div class="modal-content">
                <!-- <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div> -->
                
                <div class="container">
                    <div class="row">
                        <div class="section-title text-center">
                            <h3>Today's Big Matches</h3>
                            <p>Don't Miss It</p>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/Anupama.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Anupama</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/Sharmila.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Sharmila</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/Krishna.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Krishna</h2>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/Ventaka.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Venkat</h2>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/Aashish.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Aashish</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="testimonial">
                                <img src="../assets/team/rsz_samart.jpg" class="img-responsive" alt="...">
                                <div class="speech">
                                    <h2>Samarth</h2>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div><!--/.row -->
                    
                </div>
                
            </div>
        </div>
        <!-- End Testimonial Section -->